<html>
    <head>
        <title>Cambiar contrasena</title>
    </head>
    <body>
        <div>
            <h2>Cambiar contrasena</h2>
        </div>
        <div>
            <label for="contrasena">Nueva contraseña: </label>
            <input type="text" id="nueva_contrasena" name="nueva_contrasena"><br>
            <input type="submit" id="cambiar_contrasena">
            <button onclick="window.location.href='menu_2.html'">Volver</button>
        </div>
        <script src="cambiar_contrasena.js"></script>
    </body>

</html>