<html>
    <head>
        <title>Gastos Personales</title>
    </head>
    <body>
        <div>
            <div>
                <h2>Bienvenido, seleccione una opción: </h2>                   
            </div>
        </div>
        <div>
            <button onclick="window.location.href='crear_cuenta.html'">Crear Cuenta</button><br><br>
            <button onclick="window.location.href='iniciar_sesion.html'">Iniciar Sesión</button><br><br>
            <button>Salir</button>
        </div>
    </body>

</html>