<html>
    <head>
        <title>Menú del usuario</title>
    </head>
    <body>
        <div>
            <div>
                <h1>Menú del usuario</h1>
                <p>Seleccione una opción:</p><br>
            </div>
        </div>
        <div>
            <button onclick="window.location.href='realizar_transaccion.html'">Realizar una transacción</button><br><br>
            <button onclick="window.location.href='actualizar_transaccion.html'">Actualizar una transacción</button><br><br>
            <button onclick="window.location.href='ver_transacciones.html'">Ver transacciones</button><br><br>
            <button onclick="window.location.href='cambiar_contrasena.html'">Cambiar contraseña</button><br><br>
            <button onclick="window.location.href='index.html'">Cerrar sesión</button><br><br>
            <button>Salir</button>
        </div>
    </body>

</html>