<html>
    <head>
        <title>Ver transacciones</title>
    </head>
    <body>
        <h2>
            Ver transacciones
        </h2>
        <div>
            <label for="fecha_inicial">Fecha inicial: </label>
            <input type="text" name="fecha_inicial" id="fecha_inicial"><br><br>
            <label for="fecha_final">Fecha final: </label>
            <input type="text" name="fecha_final" id="fecha_final"><br><br>
            <input type="submit" id="visualizar_transaccion">
            <button onclick="window.location.href='menu_2.html'">Volver</button>
        </div>
        <script src="visualizar_transaccion.js"></script>
    </body>


</html>